<h1>Articles listing page</h1>
<!--<ul>-->
<%# @articles.each do |article| %>
<!--  <li><%#= article.title %></li>-->
<%# end %>
<!--</ul>-->

<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Description</td>
      <td colspan="3">Actions</td>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Article', new_article_path %>
