<h1>Showing article details</h1>
<p><string>Title: </string> <%= @article.title %></p>
<p><string>Description: </string> <%= @article.description %> </p>

<br>
<%= link_to 'Articles',  articles_path %> |
<%= link_to 'Edit', edit_article_path %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>